@model CareTracker.Models.PrescriptionViewModels.PrescriptionEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Prescription for @Html.DisplayFor(ModelItem => Model.Prescription.Dependent.FirstName)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Prescription.PrescriptionId" />
            <input type="hidden" asp-for="Prescription.DoctorId" />
            <input type="hidden" asp-for="Prescription.DependentId" />

            <div class="form-group">
                <label asp-for="Prescription.DrugName" class="control-label"></label>
                <input asp-for="Prescription.DrugName" class="form-control" />
                <span asp-validation-for="Prescription.DrugName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.Dosage" class="control-label"></label>
                <input asp-for="Prescription.Dosage" class="form-control" />
                <span asp-validation-for="Prescription.Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.Frequency" class="control-label"></label>
                <input asp-for="Prescription.Frequency" class="form-control" />
                <span asp-validation-for="Prescription.Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.PharmacyAddress" class="control-label"></label>
                <input asp-for="Prescription.PharmacyAddress" class="form-control" />
                <span asp-validation-for="Prescription.PharmacyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.PharmacyPhoneNumber" class="control-label"></label>
                <input asp-for="Prescription.PharmacyPhoneNumber" class="form-control" />
                <span asp-validation-for="Prescription.PharmacyPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.PrescriptionNotes" class="control-label"></label>
                <input asp-for="Prescription.PrescriptionNotes" class="form-control" />
                <span asp-validation-for="Prescription.PrescriptionNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Prescription.PrescriptionActive" /> @Html.DisplayNameFor(ModelItem => Model.Prescription.PrescriptionActive)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
