@model CareTracker.Models.AppointmentViewModels.EditAppointmentsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointment.AppointmentId" />
            <input type="hidden" asp-for="Appointment.DependentId" />
            <input type="hidden" asp-for="Appointment.DoctorId" />
            <div class="form-group">
                <label asp-for="Appointment.AppointmentDate" class="control-label"></label>
                <input asp-for="Appointment.AppointmentDate" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentTime" class="control-label"></label>
                <input asp-for="Appointment.AppointmentTime" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentReason" class="control-label"></label>
                <input asp-for="Appointment.AppointmentReason" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentAddress" class="control-label"></label>
                <input asp-for="Appointment.AppointmentAddress" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentPhoneNumber" class="control-label"></label>
                <input asp-for="Appointment.AppointmentPhoneNumber" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentNotes" class="control-label"></label>
                <input asp-for="Appointment.AppointmentNotes" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentNotes" class="text-danger"></span>
            </div>
            <div class="form-group">

            </div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
