@model CareTracker.Models.DependentViewModels.ViewDependentsHomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}



<div id="UserDependentList" class="container container-fluid">

    <h1>
        This is where the dependent list will go
    </h1>

    @foreach (var userdependent in Model.UserDependents)
    {
       <div id="movie--@Html.DisplayFor(modelItem => userdependent.DependentUserId)">
           <h4 class="dependent_firstname">
               @Html.DisplayFor(modelItem => userdependent.FirstName)
           </h4>
       </div>
    }

</div>

<div id="HomePageInterfaceBar" class="container container-fluid">
    <h1>
        This is where the affordance for new dependents will go
    </h1>
</div>