@model CareTracker.Models.DependentViewModels.ViewDependentsHomePageViewModel

@{

}

@if (!User.Identity.IsAuthenticated)
{
    
<div class="jumbotron">
    <h1 Id="HomePage_unauthenticated">CareTracker</h1>
    <h3>Because caring should be a group effort!</h3>
    <div class="text-center">
        <p><a class="btn btn-primary btn-lg" asp-area="" asp-controller="Account" asp-action="Register">Register</a> <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Account" asp-action="Login">Login</a></p>
    </div>
    

</div>
}
else
{

    var tableheaders = Model.UserDependents.FirstOrDefault();

    <div id="UserDependentList" class="container container-fluid">

        @if (User.Identity.IsAuthenticated)

        {
            @if (Model.UserDependents.Count > 0)
            {


                @foreach (var userdependent in Model.UserDependents)
                {

                    <div class="container container-fluid card col-sm-2 UserDependentList__Dependent"
                         id="dependent--@Html.DisplayFor(modelItem => userdependent.DependentId)">
                         <div class="panel panel-primary">
                             <div class="panel-heading">
                                 <span class="glyphicon glyphicon-user"> </span>
                                 <p class="UserDependentList__DependentFirstName">@Html.DisplayFor(modelItem => userdependent.FirstName)</p>
                                 <p class="UserDependentList__DependentLastName">@Html.DisplayFor(modelItem => userdependent.LastName)</p>
                             </div>
                             <div class="panel-body">
                             <p><span class="glyphicon glyphicon-calendar"></span>@Html.DisplayFor(modelItem => userdependent.Birthday)</p>
                             <a class="btn btn-info" asp-controller="Summary" asp-action="Show" asp-route-id="@userdependent.DependentId">Summary</a>
                             </div>


                         </div>
                         
                       
                        
                    </div>

                }


            }
            else
            {<div id="NoDependentsMessage"></div>
                <h2 id="NoDependentMessage__Message">You don't have any dependents, please add some!</h2>
            }

        }


    </div>

    <div id="HomePageInterfaceBar" class="container container-fluid">
        <div class="form-group">
            <button id="AddDependentButton" type="submit" class="btn btn-info">Add Dependent</button>
        </div>
    </div>
}

